<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/output.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Solutions Database</title>
</head>
<body class="bg-white text-black">
    
    <nav class="bg-white border-b border-gray-200 shadow-sm">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            
            <!-- Brand name -->
            <div class="text-2xl font-bold text-blue-700">
                Solutions DB
            </div>

            <!-- Menu -->
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="font-semibold text-lg flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white">
                    
                    <li>
                        <a href="/" class="block py-2 px-4 text-black bg-blue-200 rounded-md md:bg-transparent md:text-blue-700 md:p-0 hover:bg-blue-100 transition" aria-current="page">Home</a>
                    </li>

                    <li>
                        <a href="/design-methods" class="block py-2 px-4 text-black rounded-md hover:bg-gray-200 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 transition">Design Methods</a>
                    </li>

                    <% if(currentUser && currentUser.role === 'admin') {%>
                        <li>
                            <a href="/logout" class="block py-2 px-4 text-black rounded-md hover:bg-gray-200 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 transition">Logout</a>
                        </li>
                    <% } else { %>
                        <li>
                            <a href="/login" class="block py-2 px-4 text-black rounded-md hover:bg-gray-200 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 transition">Login (Admin Only)</a>
                        </li>
                    <% } %>

                </ul>
            </div>
        </div>
    </nav>

    <div class="main-content">
        <!-- Your page content goes here -->
    </div>

</body>
</html>
