<%- include('partials/header_akash') %>

<div class="h-screen grid grid-cols-6 bg-white">
    
  <div class="col-span-4 col-start-2 flex flex-col items-center justify-center space-y-4">
    <h1 class="text-2xl font-extrabold text-gray-900 md:text-5xl lg:text-6xl">
      REMEDE
    </h1>
    <h1 class="text-2xl font-bold text-gray-800 md:text-3xl lg:text-4xl -mt-2">
      A Repository of Methods in Design
    </h1>
  </div>

    <div class=" flex space-x-4 gap-4 col-start-2 col-end-6 h-32 ml-15 justify-center">
        
        <div class="">
                    <a href="/use-methods" class=" flex flex-col items-center  bg-gray-300 border border-gray-400 rounded-lg shadow-sm md:flex-row md:max-w-xl hover:bg-white">
                        <!-- <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/docs/images/blog/image-4.jpg" alt=""> -->
                        <div class="flex flex-col justify-center items-center leading-normal w-full text-center px-2">
                            <h5 class="m-4 text-2xl  tracking-tight text-gray-1000 dark:text">Use Methods</h5>
                        </div>
                    </a>
                </div>
        
        <div class="">
                    <a href="/teach-methods" class="flex flex-col items-center bg-gray-300  border border-gray-400 rounded-lg shadow-sm md:flex-row md:max-w-xl hover:bg-white ">
                        <!-- <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/docs/images/blog/image-4.jpg" alt=""> -->
                        <div class="flex flex-col justify-center items-center leading-normal w-full text-center px-2">
                            <h5 class="m-4 text-2xl  tracking-tight text-gray-1000 dark:text">Teach Methods</h5>
                        </div>
                    </a>
                </div>

                <div class="">
                    <a href="/" class="flex flex-col items-center bg-gray-300  border border-gray-400 rounded-lg shadow-sm md:flex-row md:max-w-xl hover:bg-white ">
                        <!-- <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/docs/images/blog/image-4.jpg" alt=""> -->
                        <div class="flex flex-col justify-center items-center leading-normal w-full text-center px-2">
                            <h5 class="m-4 text-2xl  tracking-tight text-gray-1000 dark:text">How to use this Repository</h5>
                        </div>
                    </a>
                </div>






</div>



