<%- include('partials/header') %>

<div class="h-screen grid grid-cols-6 bg-slate-300">
    <h1>Use methods</h1>
    <p>BoOk can be used as support to learn and use design methods</p>
    </div>
</div>

<%- include('partials/footer') %>